fastapi
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose
langchain_core==0.3.68
langchain_google_genai
langchain_text_splitters==0.3.8
pypdf
python-dotenv
pydantic>=2.7.4,<3.0.0
beautifulsoup4
requests
loguru
google-generativeai
protobuf
elevenlabs
numpy